.app-container {
  font-family: Arial, sans-serif;
  height: 100vh; /* Garante que ocupe 100% da altura da tela */
  display: flex;
  flex-direction: column;
  margin: 0; /* Remove margens extras */
  padding: 0; /* Remove padding extra */
}

header {
  background-color: #b9aaaa;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
}

.main-content {
  display: flex;
  flex-grow: 1; /* O conteúdo se expande para ocupar o espaço restante */
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  flex: 1; /* O texto ocupará o restante do espaço */
}

.menu {
  width: 200px;
  background-color: #e2bcbc;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  height: 100vh; /* Garante que o menu ocupe a altura da tela */
  margin: 0; /* Remove margens adicionais */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.menu li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px;
  background-color: #bdadad;
  border-bottom: 1px solid #555;
  text-align: center;
  transition: background-color 0.3s, border-radius 0.3s;
}

.menu li a:hover {
  background-color: #888;
  border-radius: 10px;
}
